/* Watermark */
#app-mount .wordmark-2u86JB {
    padding: 0;
}
#app-mount .wordmark-2u86JB  svg {
    width: 0;
}
.wordmarkWindows-2dq6rw::after {
    content: "STREET";
    color: var(--tw-white);
    font-family: var(--font-display);
    position: absolute;
    width: 100vh;
    height: 16px;
    font-weight: 700;
    font-size: 14px;
    top: 4px;
    left: 0;
    margin: 4px 9px 3px;
}


/* Discord Message box v2 */
:root {
    --color-brand-lighter: Orange;
}
.input-2z42oC,
.scrollableContainer-15eg7h {
    background-color: #292929;
    transition: background-color 0.2s ease, border-color 0.2s ease;
    border: 1px solid transparent;
    outline: none;
}
.input-2z42oC:hover,
.scrollableContainer-15eg7h:hover {
    border-color: #ffff;
     background-color: #2e2c2c;
      box-shadow: 0px 0px 7px #ffff; /*remove this to remove the glow*/
}
.input-cIJ7To:focus-within,
.scrollableContainer-15eg7h:focus-within {
    background-color: #2e2c2c;
     border-color: var(--color-brand-lighter);
      box-shadow: 0px 0px 7px Orange; /*remove this to remove the glow*/
}
.scrollableContainer-15eg7h {
     border: 1px solid transparent;
      border-radius: 3px; /* Edit this in order to change the shape of the text box */
}

/* Channel Names Capitalized */

.channelName-3KPsGw {
    text-transform: capitalize;
    }

/* Minified Search Bar */ 

:root {
    --transitionspeed: 0.25s;
}

.search-2Mwzzq:not(.open-1F8u2c) .searchBar-jGtisZ {width: 27px; transition: var(--transitionspeed); background-color: transparent;}
.search-2Mwzzq:not(.open-1F8u2c):hover .searchBar-jGtisZ {width: 170px; background-color: var(--background-tertiary);}
.search-2Mwzzq:not(.open-1F8u2c) .iconContainer-1RqWJj {transform: scale(1.3); transition: var(--transitionspeed);}
.search-2Mwzzq:not(.open-1F8u2c):hover .iconContainer-1RqWJj {transform: scale(1);}
.search-2Mwzzq:not(.open-1F8u2c) .icon-18rqoe {color: var(--text-normal);}
.search-2Mwzzq:not(.open-1F8u2c):hover .icon-18rqoe {color: var(--text-muted);}

